/* meau */
.iconfont.icon-tianchongxing-{
    color:#2D7A9C;
}
.el-breadcrumb {
    line-height: 64px;
     flex: 1;
}
.el-menu {
    background: transparent;
    border: none;
}
.el-menu span {
    font-size: 16px;
    font-family: "微软雅黑";
    color: #FFFFFF;
}
.el-submenu .el-menu-item {
    height: 46px;
    font-size: 14px;
    font-family:  "微软雅黑";
    color: #FFFFFF;
}
.el-submenu__title i{
    margin-right: 6px;
    color: #fff;
}
.el-submenu__title:focus, .el-submenu__title:hover{
    background: rgba(255, 255, 255, 0.3);
}
.el-submenu__title:hover {  
    background: rgba(255, 255, 255, 0.3);
}
.el-menu-item:focus,
.el-menu-item:hover {
    background: rgba(255, 255, 255, 0.3);
}
.collapse .el-submenu__title{
    padding: 0 !important;
    text-align: center;
}
.el-menu--collapse{
    width: auto;
}
.el-menu--vertical{
    display: none;
}
.el-submenu .el-menu-item.is-active::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 4px;
    height: 30px;
    background-color: #FFA833;
    border-radius: 4px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.el-menu-item, .el-submenu__title{
    height: 46px;
    line-height: 46px;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link:hover{
    color: #2D7A9C;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
    font-size: 14px;
    font-weight: 400;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
    font-size: 14px;
     font-weight: normal;
}
.left_result .iconfont{
    color: #C0C4CC;
}
.search_box .icon-sousuo1{
    color: #C0C4CC;
  }
  .search_box .el-radio__label{
      padding-left: 0;
  }
/* 下拉菜单*/

.el-dropdown{
    cursor: pointer;
    
}
.el-dropdown .el-dropdown-link{
    display: flex;
    justify-content: left;
}
.container [class*=" el-icon-"], [class^=el-icon-]{
    line-height: 1;
}
.el-submenu__title [class*=" el-icon-"], [class^=el-icon-]{
    line-height: 2;
}
.el-dropdown-menu {
    top: 48px;
    border-radius: 10px;
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(71,91,160,1)),to(rgba(47,165,187,1))) ;
    background: linear-gradient(180deg,rgba(71,91,160,1) 0%,rgba(47,165,187,1) 100%) ;
    border: none ;
    -webkit-box-shadow: none ;
    box-shadow: none ;
}
.el-dropdown-menu__item{
    color: #fff;
}
.el-select-dropdown__item.selected {
    color: #2D7A9C;
    font-weight: 700;
}
.login-down .el-dropdown-menu__item{
    display: flex;
    justify-content: left;
    align-items: center;
}
.login-down .el-dropdown-menu__item img{
    margin-right: 5px;
    width: 20px;
}
.el-dropdown-menu__item:not(.is-disabled):hover {
    background: none;
    background-color: rgba(255,255,255,0.3);
    border-radius: 0px;
    color: #fff;
}
.el-dropdown-menu .popper__arrow {
    border-bottom-color: #475BA0 ;
    border-top-color: #475BA0 ;
}
.el-dropdown-menu  .popper__arrow::after {
    border-bottom-color: #475BA0 !important;
    border-top-color: #475BA0 !important;
}
.el-popper .popper__arrow, .el-popper .popper__arrow::after {
    /* position: absolute;
    top: 0px;
    border-top-width: 0;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;*/
} 
.acc .el-select{
    width:100% ;
}
.acc .el-select .el-input__inner{
    width: 100%;
    height: 40px;
}
.acc .popper__arrow::after {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}
.acc  .el-select-dropdown__item.selected{
    color: #2D7A9C;
}
.coby .popper__arrow::after {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}
.coby{
    height: 20px;
    padding: 0;
    line-height: 20px;
    text-align: center;
    width: 100px !important;
    min-width: 100px !important;
}
/***********  input ***********/
/* login */
.login .el-input__inner {
  padding: 0 15px;
  font-size: 16px;
  font-family: "微软雅黑";
  color: #333333 ;
  height: 50px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #999999;
  font-size: 18px;
  line-height: 40px;
}

.login .el-button {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    font-size: 20px;
    font-family:  "微软雅黑";
    color: #ffffff;
    background: linear-gradient(135deg, #475ba0 0%, #2fa5bb 100%);
    border-radius: 27px;
    border: 0;
}

.login-banner .el-carousel__button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 71px;
}
.login-banner .is-active .el-carousel__button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-bottom: 70px;
}
.login .el-input__suffix{
    right: 15px;
}
.login .el-input__suffix-inner{
    line-height: 50px;
}
.login .retrieve_password {
    box-shadow: none;
    position: relative;
    /* top: calc(50% - 195px); */
    min-width: 600px;
    width: 680px;
    height: 390px;
    background: #ffffff;
    border: 0;
    padding: 0;
    border-radius: 16px;
}
.login .el-dialog__header{
padding: 60px 0px 25px 0 ;
background: none;
}
.login .retrieve_password .el-dialog__title {
    line-height: 30px;
    font-size: 28px;
    color: #333333;
    font-weight: bold;
}
.login .retrieve_password .el-dialog__body {
    text-align: initial;
    padding: 25px 25px 30px;
}
.login .retrieve_password .retrieve-form{
    width: 450px;
    margin: 55px auto 0;
}
/* serch */
.search_input .el-input__icon{
    position: absolute;
    right: 160px;
}
.search_box .el-input__inner {

    height: 50px;
    background: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #CCCCCC;
}
.search_box .el-input__prefix {
    left: 30px;
}
.search_box  .el-input--prefix .el-input__inner {
    padding-left: 55px;
}
.search_input .popper__arrow::after {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}

.search_box .el-select .el-input__inner {
  width: 120px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 4px;
  line-height: 24px;
  border: 1px solid #CCCCCC;
  color: #333333;
}
.lang_select  .popper__arrow::after {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}
.lang_select{
    min-width: 120px !important;
}
.lang_select .el-select-dropdown__item.selected{
    color: #2D7A9C;
}
.el-select .el-input.is-focus .el-input__inner {
    border-color: #2D7A9C;
}
.el-select .el-input__inner:focus{
    border-color: #2D7A9C;
}
.theme_search .popper__arrow::after {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}
.theme_search_input {
    height: 38px;
    line-height: 38px; 
    margin-bottom: 10px;
}
.theme_search_input i{
    line-height: 38px; 
}
.theme_search_input .el-input__inner {
  height: 38px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
}
.theme_search_input input::-webkit-input-placeholder {
  color: #333;
}
.theme_search_input i{
    color: #999999;
}
.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
    color: #2D7A9C;
}
.el-cascader .el-input .el-input__inner:focus, .el-cascader .el-input.is-focus .el-input__inner {
    border-color: #2D7A9C;
}

.date_picker .popper__arrow::after {
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
}
.el-date-editor .el-range__close-icon{
    line-height: 22px;
}
/***********  radio ***********/
.search_box .el-radio-group{
    margin-top: 2px;
    margin-right: 40px;
}
.el-radio__label{
    color: #333333;
}
.el-radio{
    margin-right: 20px;
}



.el-radio__inner {
    border: 1px solid #CCCCCC;
    width: 18px;
    height: 18px;
    background: #ffffff;
}
.el-radio__inner::after {
    width: 10px;
    height: 10px;
    background: #2D7A9C;
}
.el-radio__inner:hover {
border-color: #2D7A9C;
}
.el-radio__input.is-checked .el-radio__inner {
    width: 18px;
    height: 18px;
    border-color: #2D7A9C;
    background:#ffffff;
}

.el-radio__input.is-checked+.el-radio__label{
    color: #333333;
}
.main_box .el-loading-mask {
    background-color: rgba(255,255,255,1);
}

/* button */
.con_box_search .el-button i{ 
    margin-right: 5px;
    font-size: 18px;
}
.con_box_search  .el-button:focus,.con_box_search .el-button:hover {
    color: #888888;
    border-color: #3F71A8;
    background-color: #ffffff
}
.con_box_search  .el-button,.con_box_search .el-button {
    color: #888888;
    border-color: #3F71A8;
    background-color: #ffffff;
    width: 100px ;
    height: 40px ;
    padding: 0;
}
  .con_box_search  .el-button--primary:focus,.con_box_search .el-button--primary:hover {
    
    background: linear-gradient(180deg, #475BA0 0%, #2FA5BB 100%);
    border: none;
    color: #FFF;
}


 .con_box_search .el-button--primary{
    border: none;
    background: linear-gradient(180deg, #475BA0 0%, #2FA5BB 100%);
    border-radius: 25px !important;
    color: #fff;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
}
.login-info  .el-button--primary:focus,.login-info  .el-button--primary:hover {
    background: linear-gradient(135deg, #475ba0 0%, #2fa5bb 100%)
}
/* .acc .el-message-box__btns .el-button--default:first-child{border-color:#cccccc ;}
.acc .el-message-box__btns .el-button--default:focus,
.acc .el-message-box__btns .el-button--default:hover {
  background: #ffffff;
color: #888888;
border: 1px solid #3F71A8;
} */
/* .el-message-box {
    width: 580px;
    height: 188px;
    border: none;
    background: rgba(238,242,246,1) !important;
    border-radius: 16px;
}
.el-message-box__header {
    background: linear-gradient(153deg, #475ba0 0%, #2fa5bb 100%);
    border-radius: 16px 16px 0px 0px;
  
}
.el-message-box .el-message-box__title span {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.el-message-box__headerbtn {
    position: absolute;
    top: 7px;
    right: 15px;
    padding: 0;
    border: none;
    outline: 0;
    background: 0 0;
    font-size: 16px;
    cursor: pointer;
}
.el-message-box__content {
    padding: 30px;
    line-height: 18px;
    color: #333333;
}
.el-message-box__btns {
    padding: 0 15px;
}
.el-message-box__btns button {
    width: 130px;
    height: 48px;
    padding: 5px;
    margin: 0;
    background: rgba(255,255,255,1) !important;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(28,29,84,0.15);
    box-shadow: 0px 1px 4px 1px rgba(28,29,84,0.15);
    border-radius: 24px;
    color: #333333 !important;
    font-size: 14px;
    border: none;
    text-align: left;
}
.el-message-box__btns button span {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#475ba0), to(#2fa5bb)) !important;
    background: linear-gradient(180deg, #475ba0 0%, #2fa5bb 100%) !important;
}
.el-message-box__btns button:nth-child(2) {
    margin-left: 40px;
}
.el-message-box__btns button:nth-child(1) span::before {
    content: "\e627";
    padding-left: 12px;
    padding-right: 30px;
    font-family: "iconfont";
    font-size: 14px;
    color: #ffffff;
}
.el-message-box__btns button:nth-child(2) span::before {
    content: "\e669";
    padding-left: 12px;
    padding-right: 30px;
    font-family: "iconfont";
    font-size: 14px;
    color: #ffffff;
}
.el-message-box__headerbtn:focus .el-message-box__close, .el-message-box__headerbtn:hover .el-message-box__close, .el-message-box__headerbtn .el-message-box__close, .el-message-box__headerbtn .el-message-box__close:hover {
    color: #ffffff;
} */
/************* 二次检索 **************/
/*  树形控件*/
.el-tree{
    background-color: transparent;
}
.el-tree-node:focus>.el-tree-node__content{
    background-color: transparent;
}
/* .con_box_search .el-tree-node__expand-icon,.acc .sel-tree-node__expand-icon{
    color: #2D7A9C ;
} */
.con_box_search .el-tree-node__label,.acc .el-tree-node__label{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #333333;
    line-height: 19px;
}
.con_box_search .el-tree-node__content,.acc .el-tree-node__content{
    height: 20px;
    white-space: nowrap;
}
.el-tree-node__content  .is-disabled + .el-tree-node__label{
   
    font-size: 14px;
    font-family: "微软雅黑";
    color: #999999;
    line-height: 19px; 
    cursor: not-allowed;
}
.el-tree-node__content  .is-disabled{
    opacity: 0;
}
.con_box_search  .el-tree-node__expand-icon,.acc .el-tree-node__expand-icon{
font-size: 12px;
}

.con_box_search  .el-tree-node__content>.el-tree-node__expand-icon,.acc .el-tree-node__content>.el-tree-node__expand-icon{
    padding: 6px 10px;
}
.el-tree{
    display: inline-block;
    min-width: 100%;
}
.el-button .icon-queding{
    margin-right: 5px;
}
/* 复选框 */
.result_DIY .el-checkbox__input.is-checked .el-checkbox__inner,.result_DIY .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: transparent;
    border-color: #2D7A9C;
}
.result_DIY .el-checkbox__inner:hover {
    border-color: #2D7A9C;
}
.result_DIY .el-checkbox__inner::after{
border-color: #2D7A9C;
}
.result_DIY .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
     background-color: #2D7A9C;
}
.result_DIY .el-tree-node{
     margin-top: 15px;

}
.result_DIY .el-checkbox-group{
    display: flex;
    flex-direction: column;
}
.result_DIY .el-checkbox-group .el-checkbox{
    color: #333333;
    margin-top: 15px;
}
.result_DIY  .el-checkbox__input.is-checked+.el-checkbox__label{
     color: #333333;
}
.diycheck{
    margin-top: 15px;
    color: #333333;
}
/* access */
.el-tree-node__expand-icon{
    color: #2D7A9C;
}
.acc_con .el-checkbox__input.is-checked .el-checkbox__inner,.acc_con .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: transparent;
    border-color: #2D7A9C;
}
.acc_con .el-checkbox__input.is-focus .el-checkbox__inner{
      border-color: #2D7A9C;
}
.acc_con .el-checkbox__inner:hover {
    border-color: #2D7A9C;
}
.acc_con .el-checkbox__inner::after{
border-color: #2D7A9C;
}
.acc_con .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
     background-color: #2D7A9C;
}
.acc_con .el-tree-node{
     margin-top: 15px;

}
.acc_con .el-checkbox-group{
    display: flex;
    flex-direction: column;
}
.acc_con .el-checkbox-group .el-checkbox{
    color: #333333;
    margin-top: 15px;
}
 .el-checkbox__input.is-checked+.el-checkbox__label{
     color: #333333;
}
.el-tree-node__content > .el-tree-node__expand-icon {
color: #2D7A9C;
  padding: 6px 10px;
  font-size: 12px;
}
.is-leaf.el-tree-node__expand-icon{
    color: transparent;
}
.el-tree-node__content .filter_number{
    margin-left: 5px;
}
/* 单选框 */
.result_DIY .el-radio-group{
    display: flex;
    flex-direction: column; 
}
.result_DIY .el-radio{
  color: #333333;
    margin-top: 15px;
}

.result_DIY .el-range-editor.el-input__inner{
    width: 240px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    margin-top: 15px;
}
.result_DIY .el-date-editor .el-range__icon{
    height: 28px;
    line-height: 28px;
}
.result_DIY .el-date-editor .el-range-separator{
    line-height: 19px;
    color: #333333;
    padding: 0;
    width: auto;
}
.diy_time{
    width: 100% !important;
}

.diy_size {
  display: flex;
  line-height: 28px;
  margin-top: 15px;
   max-width: 240px;
}
.diy_size .zhi{
    height: 28px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    line-height: 26px;
    color:#333333 ;
    font-size: 14px;
}
.diy_size .icon-daxiao{
    line-height: 28px;
}
.diy_size .from .el-input__inner {
  height: 28px;
  line-height: 28px;
  background: #ffffff;
 border-radius: 0;
 padding-left: 25px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /* border: 1px solid #cccccc; */
  border-bottom: 1px solid #cccccc;
  border-right: none;
  border-top: 1px solid #cccccc;
   border-left: 1px solid #cccccc; 
}

.diy_size .to .el-input__inner {
  height: 28px;
  line-height: 28px;
  background: #ffffff;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /* border: 1px solid #cccccc; */
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-left: none;
}
.diy_size_pop {
    display: flex;
    margin-top: 40px;
   line-height: 40px;
   max-width: 540px;
   text-align: center;
   position: relative;
}
.diy_size_pop .zhi{
    line-height: 38px;
    color:#333333 ;
    font-size: 14px;
}
.diy_size_pop .from .el-input__inner {
    width: 240px;
   height: 40px;
   background: #ffffff;
    border-radius: 0;
    border-radius: 4px;
  border: 1px solid #cccccc;
  text-align: center;
}

.diy_size_pop .to .el-input__inner {
     width: 240px;
  height: 40px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #cccccc;
  text-align: center;
}
.diyfilesize .el-dialog__body{
    padding: 20px 20px 0 20px;
}
.diy_size_pop_button{
    width: 100%;
    height: 40px;
    margin-top: 60px;
    display: flex;
    justify-content:center;
}
.diy_size_pop_button .clear_size,.submit_size{
    width: 160px ;
    height: 40px;   
    border-radius: 25px;
    border: none;
}
.diy_size_pop_button .clear_size{  
    background: #FFFFFF;
    border: 1px solid #3F71A8;       
    font-size: 16px;
    font-family: "微软雅黑";
    color: #888888;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin-right: 60px;
}
.diy_size_pop_button .submit_size{ 
    background: linear-gradient(180deg, #475BA0 0%, #2FA5BB 100%);
    font-size: 16px;
    font-family: "微软雅黑";
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.diy_size_pop_button .submit_size[disabled]{
    cursor: not-allowed !important;
}
/* table */
.key_search .el-table{
    margin-top: 20px;
}
 .el-table  td:first-child .cell{
    padding: 0;
    text-align: center;
}
.el-table th{
    min-width: 60px;
    height: 50px; 
    background: #8AA2AD;
    color: #ffffff;
    font-size: 16px;
    font-family: "微软雅黑";
    font-weight: normal;
}
.el-table td{
    /* max-width: 420px; */
    height: 40px;
    padding: 0;
    line-height: 40px; 
}
.el-table td.font_center div{
    text-decoration: underline;
    color: #4A90E2;
    cursor: pointer;
}
.el-table td.font_left div{
    text-decoration: underline;
    color: #4A90E2;
    cursor: pointer;
}
.key_search .el-table td .cell{
 white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.el-table th>.cell{
    padding: 0;
    text-align: center;
}
.el-table tr{
   background: #fff; 
}
.el-table tr:nth-child(even){  
background: #F5F5F5;
}
.el-table td,
.el-table th {
  padding: 0 ;
}
/* 分页 */
.el-pagination{
    padding: 0;
   
}
 .pagination_left{
    float: left;
}
 .pagination_right{
    float: right;
}
 .pagination_right slot button{
    margin-top: 4px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(28, 29, 84, 0.15);
    padding: 0;
    line-height: 24px;
    color: #333333;
}
.pagination_right slot button{
    cursor: pointer;
}
.el-pagination slot  button:disabled{
    color: #C0C4CC;
}
.pagination_right slot button i{
    /* color: #333333; */
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover{
    color: #fff;
    cursor: pointer;
}
 .el-pagination.is-background .el-pager li{
    margin-top: 5px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    line-height: 20px;
    background: transparent;
}
 .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev{
    margin-top: 4px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(28, 29, 84, 0.15);
}
.el-pagination.is-background .last-pager,.el-pagination.is-background .first-pager{
    color: #606266;
}
.el-pagination .first-pager:disabled,.el-pagination .last-pager:disabled{
    margin-top: 4px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    color: #C0C4CC;
    box-shadow: 0px 2px 4px 0px rgba(28, 29, 84, 0.15);
}
 .el-pagination.is-background .el-pager li:not(.disabled).active{  
    background: linear-gradient(180deg, #475BA0 0%, #2FA5BB 100%) !important; 
}
 .el-pagination.is-background .el-pager li:not(.disabled):hover{
    color:#2D7A9C;;
}
 .el-pager .more::before{
    line-height: 20px;
}
 .el-pagination__total{
    display: block;
     float: left;
     line-height: 28px !important;
     /* margin-right: calc(100% - 380px); */
      /* margin-right: calc(100% - 450px); */
}
 .el-pagination .el-select .el-input {
    width: 100px;
    margin: 0 5px;
}
 .el-pagination__editor.el-input .el-input__inner, .el-pagination .el-select .el-input .el-input__inner{
    border-radius: 30px;
    background-color: #ffffff;
    color: #333333;
    border: none;
    height: 20px;
    line-height: 20px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(28, 29, 84, 0.15);
    box-shadow: 0px 2px 4px 0px rgba(28, 29, 84, 0.15);
}
/* 弹出框 */
.el-dialog__wrapper{
 background: rgba(0, 0, 0, 0.6);
 display: flex;
 justify-content: center;
 align-items: center;
}
.result_box .el-dialog{
    width: 1300px;
    height: 910px;
    background: #EEF2F6;
    border-radius: 16px;
    margin:0 !important;
}
.el-dialog__header{   
    height: 40px;
    background: linear-gradient(135deg, #475BA0 0%, #2FA5BB 100%);
    border-radius: 16px 16px 0px 0px;
    padding:  0 18px 0 30px;
    line-height: 40px;


}
.el-dialog__title{
    font-size: 16px;
    font-family:"微软雅黑";
    font-weight: bold;
    color: #FFFFFF ;
}
.el-dialog__body{
    padding: 20px 30px 0 30px;
}
.el-dialog__headerbtn{
    top: 10px;
}
.el-dialog__headerbtn .el-dialog__close{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}
.el-dialog__headerbtn .el-dialog__close:hover{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}
.diyfilesize .el-dialog{
    width: 600px;
    height: 270px;
    background: #EEF2F6;
    border-radius: 16px;
    margin:0 !important;
    margin-bottom: 20% !important;
}

.result_box>.el-loading-mask{
    background-color: rgba(255,255,255,.3);
    z-index: 2017;
}
.result_box>.el-loading-mask .el-loading-spinner{
    display: none;
}
.el-date-range-picker__time-header{
    /* display: none; */
}
.el-date-range-picker__time-picker-wrap{
    display: block;
}
.el-date-range-picker__editors-wrap .el-date-range-picker__time-picker-wrap:last-child{
    display: none;
}
.el-date-range-picker__time-header .el-icon-arrow-right{
    line-height: 1;
    text-align: center;
}
/* 高级检索 */
.el-input-group__prepend{  
    font-size: 14px;
    font-family: "微软雅黑";
    color: #333333;
    background-color: #fff;
    border-color: #cccccc;
}
.el-input-group__prepend::after{  
    width: 1px;
    height: 18px;
    background: #cccccc;
    content: "";
    position: absolute;
    right: 0px;
}
.el-date-editor .el-range__close-icon{
    color: #666666;
}
.search_params_item .el-date-editor .el-range-separator{
    min-width: 16px;
}
.search_params_item .el-input  input{
    border-left: 0;
    border-color: #cccccc;
}
.search_params_item .el-input  input:hover{
    border-color: #cccccc;
}
.search_params_item .el-checkbox__input.is-checked .el-checkbox__inner,.search_params_item .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: transparent;
    border-color: #2D7A9C;
}
.search_params_item .el-checkbox__inner:hover {
    border-color: #2D7A9C;
}
.search_params_item .el-checkbox__inner::after{
border-color: #2D7A9C;
}
.search_params_item .el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #2D7A9C;
}
.search_params_item .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
     background-color: #2D7A9C;
}
.diy_filesize .from input,.diy_filesize .to input{
  border: 0;
  height: 38px;
  line-height: 38px;
  max-width: 242px;
  min-width: 100px;
  text-align: center;
}
.diy_filesize .el-input__prefix i{
color: #666666;
}
.search_params_item .diy_time{
    max-width: 520px !important;
    min-width: 230px !important;
}
.search_params_item .diy_time input{
  max-width: 200px;
}
.diy_time  .el-range__icon{
  color: #666666;
}

.search_params_item .el-date-editor .el-range-separator{
    padding: 0;
    min-width: 20px;
}

.search_params_item .el-input__inner{
    height: 38px;
    line-height: 38px;
}






















/* 预算系统页面 */

.input_box .el-input__suffix{
    margin-top: 5px;
}
.el-button{
    line-height: 1;
}
.el-button i{
    line-height: 1;
}
.apply-light .search-light .dialog-drag .el-dialog__header button{
    margin-top: 10px;
}

.el-table--border th:first-child .cell {
    padding-left: 0;
}

.el-tabs{
    display: flex;
    flex-direction: column;
     height: calc(100vh - 350px);
}
.el-tabs__content{
   
    overflow: auto;
    flex: 1;
}
.dict .el-table th:not(:first-child) .cell{
    padding-left: 10px;
    text-align: left;
}
.dict .el-table,.activity .el-table,.role .el-table,.search-list-table .el-table{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);

}

.role  .el-table,
.dict .el-table,
.activity .el-table,
.permissions .el-table{
    height: calc(100% - 250px)!important;
}
.search-list-table{
    width: 100%;
     flex: 1;
}
.userOrg .table-bg-box{
 overflow: auto;

}
.btn-light-color+.dialog-btn-text{
    color: #333333 !important;
}
.btns div:first-child{
    width: 60%;
}
.btns div:last-child{
    width: 40%;
}

#changeOrg .content-dialog-box .dialog-drag .el-dialog__body .dialog-btn-box .btn-light-color{
    background: none !important;
    width: 0px;
    height: 0px;
    line-height: 0px;
    flex: none;
}
#changeOrg .content-dialog-box .dialog-drag .el-dialog__body .dialog-btn-box .operation-item{
    background: #FFFFFF;
    border: 1px solid #3F71A8;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #888888;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin-right: 60px;   
    padding: 0;
    height: 40px; 
    width: 160px;
    text-align: center;
}

#changeOrg .content-dialog-box .dialog-drag .el-dialog__body .dialog-btn-box .operation-item:last-child{
background: linear-gradient(180deg, #475BA0 0%, #2FA5BB 100%);
font-size: 16px;
font-family: "微软雅黑";
color: #ffffff;
line-height: 40px;
text-align: center;
cursor: pointer;
padding: 0;
height: 40px; 
width: 160px;
text-align: center;

}
#changeOrg .content-dialog-box .dialog-drag .el-dialog__body .dialog-btn-box .operation-item:last-child .operation-text{
    color: #ffffff;
}