@media (max-width: 1600px) { 

    /* layout */
    [class^="icon"], .iconfont{
        display: inline-block;
        font-size: 12px !important;
    }
    aside{
        width:245px !important;       
    }
    aside.collapse{
        width: 52px !important; 
    }
    .el-submenu  .el-menu-item, .el-submenu__title{
        height: 40px;
        line-height: 40px;
    }
    .el-menu span{
        font-size: 12px;
    }
    .el-submenu__title .iconfont{
        margin-top: 3px;
    }
    .el-submenu__icon-arrow{
        margin-top: -9px;
    }
    .iconfont.icon-yousuojin,.icon-zuosuojin{
        font-size: 18px !important;
    }
    .icon-shezhi{
        font-size: 14px !important;
    }
    .header{
        height: 56px!important;
    margin-left: 35px!important;
    margin-right: 35px!important;
    }
    .el-breadcrumb{
        line-height: 56px;
    }
    .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
        font-size: 12px;
    }
    .el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
        font-size: 12px;
    }
    .el-dropdown{
        font-size: 12px;
        line-height: 20px;
    }
    .btn_round_icon{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .result_filter{
        min-width: 270px;
    }
    .title_box{
        height: 26px !important;
    }
    .title_box li{
        height: 26px !important;
        font-size: 12px !important;
        line-height: 26px !important;
        padding:0 4px !important;
    }

    .result_filter_all{
        /* width: 465px; */
        width: 270px;
    }
    aside.collapse .logo{
        width: 45px !important;
    }

/* 普通搜索初始 */
.search_box{
    height: 135px !important;
    margin-bottom: 18px !important;
}
.search_box .inline-input{
    padding: 30px 20px 18px !important;
}
.search_box .el-input--prefix .el-input__inner{
    padding-left: 48px !important;
}
.search_box .el-input__inner{
    height: 44px !important;
}
.search_box .icon-sousuo1{
    line-height: 44px !important;
}
.search_box .el-button{
    width: 140px !important;
    height: 44px !important;
    border-radius: 22px !important;
    font-size: 14px !important;
}
.search_box .el-select .el-input__inner{
    width: 105px !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 12px;
}
.search_box .select_input .el-input__inner{
      height: 32px !important;
    line-height: 32px !important;
}
.search_box .select_input .el-input::after {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 1px;
    height: 16px;
    content: "";
    background: #cccccc;
}
.select_input{
    margin-left: 0;
}
 .select_input .el-input__suffix{
    right: 15px;
}
.search_box .select_input .el-input__icon{
    width: 15px;
}
.search_box .el-radio__label{
font-size: 12px;
}
.font_size_14 {
    font-size: 12px;
}
.el-radio__input.is-checked .el-radio__inner{
    width: 16px;
    height: 16px;
}
.el-radio__inner::after{
    width: 8px;
    height: 8px;
}
.el-radio__inner{
    width: 16px;
    height: 16px; 
}
.main_box{
    padding: 20px !important; 
}
.result_box .main_box{
    padding: 16px 0 16px 16px !important; 
}
.hot_search{
    padding: 26px !important;
}
.main_box .item_title{
font-size: 16px !important;
}
.refresh_words{
    font-size: 14px !important;
}
.item_content li{
    margin-right: 26px !important;
    margin-bottom: 18px !important;
    font-size: 14px !important;
}
.key_search{
      padding: 26px !important;
}
.key_search .el-table{
    margin-top: 18px;
}

.el-table th{
    padding: 0;
    height: 44px;
    line-height: 44px;
}
.el-table td{
    height: 35px;
    line-height: 35px;
}
.el-table td .cell{
    font-size: 12px;
}
.theme_search_input .el-input__inner{
    height: 33px;
}
.theme_search_input i{
    line-height: 33px;
    height: 33px;
}
.theme_search_input{
     line-height: 33px;
    height: 33px;
    margin-bottom: 8px;
}
.el-select-dropdown__item{
    font-size: 12px;
}
/* 搜索结果 */
.con_box_search{
       height: calc(100vh - 100px) !important;
    padding: 18px 0 18px 18px !important; 
}
.search_num .icon-sousuo2{
    font-size: 18px !important;
}
.search_num span{
    font-size: 12px !important;
}
.search_num .icon-ai-arrow-down{
    font-size: 10px !important;
}
.el-tree-node__label{
    font-size: 12px !important;
}
.el-tree-node__content .is-disabled + .el-tree-node__label{
     font-size: 12px !important;
}
.el-tree-node__content>label.el-checkbox{
    margin-top: -2px;
}
.el-checkbox__label{
  font-size: 12px !important;
}
.el-radio__label{
    font-size: 12px !important;
}
.result_header{
    height: 20px !important;
    line-height: 16px !important;
    font-size: 12px !important;
}
.each_reult{
    padding:15px  0 !important;
}
.each_r_title{
    margin-top: 5px !important;
    height: 22px !important;
    font-size: 18px !important;
    line-height: 22px !important;
}
.each_r_con {
    margin-top: 5px !important;
    height: 16px !important;
    font-size: 12px !important;
    line-height: 16px !important;
}
.each_r_url{
    margin-top: 5px !important;
    height: 13px !important;
    line-height: 13px !important;
}
.each_r_lable li{
    width: 88px !important;
    height: 21px !important;
    font-size: 12px !important;
    line-height: 18px !important;
        margin-right: 18px !important;
    margin-top: 13px !important;
    padding-left: 8px !important;
}
.each_r_lable .set_label{
    width: 105px !important;
}
.each_down{
    font-size: 12px !important;
    line-height: 20px !important;
}
.result_box .el-pagination button, .el-pagination span:not([class*=suffix]){
    font-size: 12px;
}
.result_box .el-pagination__editor.el-input .el-input__inner, .el-pagination .el-select .el-input .el-input__inner{
    font-size: 12px;
    width: 105px;
    height: 21px;
}
.result_box .pagination_right slot button{
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    line-height: 18px !important;
}
.result_box .el-pagination.is-background .btn-next,.result_box .el-pagination.is-background .btn-prev{
    width: 18px;
    height: 18px;
    border-radius: 50%;
     min-width: 18px;
    line-height: 18px
}

.result_box .el-pagination.is-background .btn-next i,.result_box.el-pagination.is-background .btn-prev i{

    line-height: 18px
}
.result_box .el-pagination.is-background .el-pager li{
    margin-top: 5px !important;
    font-size: 12px;
    line-height: 18px;
     width: 18px;
    height: 18px;
    min-width: 18px;
}
.result_DIY .el-tree-node{
    margin-top: 10px;
}
.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon{
    line-height: 19px;
}
/* .each_m{
    max-width:420px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}*/
.sltDialog .el-dialog {
    width: 1100px;
    height: 600px;
}
.slt {
    width: 100% !important;
    height: 400px !important;
}
.slt_down{
    width: 140px !important;
    height: 40px !important;
    margin: 15px auto auto !important;
    line-height: 40px !important;
    font-size: 14px;
}
.result_box .pagination-box{
    width: calc(100% - 35px);
    padding: 15px 0 0px 0;
}
.container{
    padding: 0 20px 15px 20px;  
}

.result_main_empty div{
    padding: 0 88px 0 61px !important;
    font-size: 14px !important;
    line-height: 24px !important;
}
.empty_img span{
    font-size: 18px !important;

    line-height: 26px !important;
}
.empty_img img{
    width: 240px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;

}
.result_main {
    height: calc(100% - 20px) !important;
  }

  .search_input .el-input__icon{
    position: absolute;
    right: 140px;
}
.each_r_top{
    height: 18px !important;
    line-height: 18px !important;
}
.each_r_top .icon-wendang{
    font-size: 10px !important;
}
.each_r_top .icon-wenjianjia{
    font-size: 16px !important;
}
.result_header_filter_flex{
    margin-top: -4px !important;
      line-height:18px !important
  }
  .result_header_filter_flex i:first-child{
    margin-bottom: 3px !important;
    margin-top: 5px !important;
  }
.el-breadcrumb__inner{
    font-size: 12px;
}
.filter_number{
    min-width: 26px;
    line-height: 13px;
    border-radius: 12px;
    padding: 0 3px;
   }



/*访问权限管理  */
.acc_title{
    height: 44px !important;
    line-height: 44px !important;
}
.acc_title li{
    width:136px !important;
    height: 44px !important;
    font-size: 14px !important;
}

.acc_button .el-button{
    width: 140px !important;
    height: 35px !important;
}

.acc .header_box{
    height:88px !important;
    font-size: 12px !important;
    padding: 26px 26px 26px 16px !important;
}
.acc .el-select .el-input__inner{
    height: 35px !important; 
    font-size: 12px !important;
}
.acc .el-select-dropdown__item{
    font-size: 12px;
}
.el-button .icon-queding{
    font-size: 16px !important;
}
.slt_empty img{
max-width: 300px;
}
.slt_empty span{
    font-size: 14px !important;
    }
/* login */
.language-in .el-dropdown{
    margin-top: 44px !important;
    margin-left: 52px !important;
}
.login-info form{
    top: calc(50% - 236px) !important;
    left: calc(50% - 188px) !important;
    width: 376px !important;
}
.el-dropdown-menu__item{
    line-height: 32px;  
    font-size: 12px;
}
.el-dropdown-menu__item img{
    width: 14px;
    margin-right: 5px;
}

.login .logo{
    width: 228px !important; 
    height: 91px !important;
    margin: 0 auto 58px auto !important;
}
.login .el-form-item{
    margin-bottom: 35px !important;
}
.login .el-form-item__content{
    line-height: 35px;
}
.login .el-input__inner{
    height: 44px ;
    font-size: 16px;
}
.login .retrieve{
    line-height:17px !important; 
    margin-top:-17px !important
}
.login .retrieve span{
    font-size: 12px !important;
}
.login .el-button{
    height: 42px;
    line-height: 42px;
}
.login-banner h2{
    font-size: 26px !important;
}
.login-banner .txt{
    width: 620px !important;
    left: calc(50% - 310px) !important;
    height: 49px !important;
    font-size: 16px !important;
}

/* 高级检索 */
.el-input-group__prepend::after{  
    width: 1px;
    height: 16px;
    background: #cccccc;
    content: "";
    position: absolute;
    right: 0px;
    top:7px;
}
.search_params_item{
    margin-bottom: 15px !important;
}
.search_params_item > span{
    font-size: 14px !important;
    line-height: 20px !important;
    min-width: 105px !important;
    max-width: 105px !important;
}

.search_params_item .el-input-group__prepend{
    font-size: 12px !important;
    padding: 0 16px !important;
}
.search_params_item .el-input input{
    height: 32px !important;
    line-height: 32px !important;
}
.search_params_item .el-radio-group label,.search_params_item .el-checkbox-group label{
    margin-right: 15px !important;
}
.search_params_item .el-radio-group label:last-child,.search_params_item .el-checkbox-group label:last-child{
    margin-right: 5px !important;
}
.search_params_item .el-radio__label{
    padding-left: 5px;
}
.search_params_item .el-radio-group,.search_params_item .el-checkbox-group,.search_params_item .el-input{
    margin-left: 10px !important;
}
.search_params_item .select_input_value::before{
    position: absolute;
    left: 0;
    top: 7px;
    width: 1px;
    height: 16px;
    content: "";
    background: #cccccc;
}
.item_select{
    min-width: 105px !important;
}
.search_params_item .diy_time{
    height: 32px !important;
}
.item_select .el-input{
    margin-left: 0 !important;
}
.diy_filesize{
    max-width: 470px !important;
    height: 32px !important;
    line-height: 30px !important;
    font-size: 12px !important;
}
.search_params_item .diy_filesize .el-input input{
        height: 30px !important;
    line-height: 30px !important;
    padding-left: 20px !important;
}
.search_box .search_params_item .el-input__prefix{
    left: 5px !important;
}
.search_params_item .select_input_value{
    margin-left: 0!important;
}
.diy_filesize .from,.diy_filesize .to{
    width: auto;
max-width: 177px !important;
margin-left: 0 !important;
}
.diy_filesize .from input, .diy_filesize .to input{
  max-width: 175px !important;
}
.search_params_item .input-with-select{
    width: 300px !important;
}
.diy_filesize .el-input__prefix i{
    line-height: 32px;
}
.reset_filter_btn{
     font-size: 14px !important;
}
.reset_filter_btn i{
      font-size: 16px !important;
}
.put_filter{
    font-size: 14px !important;
    height: 18px !important;
    line-height: 18px !important;
}
.put_filter i{
    font-size: 20px !important;
    margin-right: 10px !important;
}
.advance_filter_height{
  height: 164px !important;
}
.pop_btn{
    width: 30px !important;
    height: 30px !important; 
    line-height: 30px !important;
    margin-top: -11px !important;
}
.pop_btn i{
    font-size: 22px !important;
}
.pop_advance{
    width: 360px !important;
}
.pop_advance ul{
    height: 40px !important;
}
.pop_advance > ul li{
    height: 40px !important;
    line-height: 40px !important;
    font-size: 16px !important;
}
.pop_advance .pop_advance_main{
    padding: 15px !important;
}
.pop_advance > ul li {
    width: 120px !important;
}
.keywords_box ul li{
    height: 18px !important;
    line-height: 18px !important;
    font-size: 14px !important;
    margin-bottom: 12px !important;
}
.personlabel_box li{
    height: 22px;
    min-width: 95px;
    max-width: 130px;
    padding: 0 8px !important;
    line-height: 22px !important;
    margin-right: 15px !important;
    margin-bottom: 20px !important;
}
.el-date-editor .el-range-separator{
    line-height: 25px;
}
.select_input_value .el-input {
    margin-left: 0px !important;
}



/* 个人标签管理 */
.perLabel_search_box{
    height: 110px !important;
    padding: 35px 20px !important;
}
.perLabel_search_box input{
    height: 40px;
    width: calc(100% - 115px);
}
.perLabel_search_box .el-input-group__append {
    text-align: center;
    width: 135px;
    height: 40px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 14px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.recommend_label {
    width: 360px !important;
    padding: 20px 10px !important;
    height: calc(100vh - 205px) !important;
}
.recommend_label_title{
    height: 18px !important;
    font-size: 14px !important;
    padding: 0 10px !important;
    line-height: 18px !important;
}
.recommend_label ul li{
    min-width: 80px;
    max-width: 105px;
    height: 18px;
    font-size: 14px !important;
    line-height: 18px;
    margin-top: 20px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.person_label {
    margin-left: 20px !important;
    height: calc(100vh - 205px) !important;
    padding: 20px !important;
}
.person_label_title {
    font-size: 14px !important;

}
.person_label ul li{
    width: 100px !important;
    height: 22px !important;
    margin-top: 25px !important;
    margin-right: 28px !important;
}

.person_label ul li .label{
    width: 85px !important;
    height: 22px !important;
    font-size: 12px !important;
    padding: 0 5px !important;
    line-height: 20px !important;
}
.person_label ul li .icon-guanbi{
    font-size: 14px !important;
}
.btn_label_search{
    height: 40px !important;
    top: 60% !important;
}
.btn_label_search button {
    width: 130px !important;
    height: 40px !important;
    border-radius: 20px !important;
    font-size: 14px !important;
}


/* 搜索履历 */
.sh_search_box{
    height: 175px !important;
    padding: 30px 24px 24px !important; 
}
.search_top div .el-input__inner{
    height: 40px !important;
    border-radius: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important
}
.search_bottom .el-input__inner{
      height: 40px !important;
      line-height: 40px !important;
}

.search_bottom button[data-v-4e617362] {
    width: 140px !important;
    height: 40px !important;
    border-radius: 20px !important;
    font-size: 14px !important;
}

.sh_search_main {
    margin-top: 15px !important;
    padding: 25px 25px 10px !important;
}

.sh_main_title{
    height: 26px !important;
    line-height: 16px !important;
    font-size: 14px !important;
    padding-bottom: 10px !important;
}

.sh_main_table tr th{
    height: 40px !important;
    line-height: 40px !important;
}
.sh_main_table tr td{
    height: 32px !important;
    line-height: 32px !important;
}
.sh_main_table .el-table__body-wrapper {
    height: calc(100vh - 378px) !important;
}
.pagination-box {
    padding-top: 10px !important;
}
.sh_main_table .icon-icon_del{
    font-size: 16px !important;
}
.search_bottom .el-date-editor .el-range-separator{
    min-width: 25px !important;
    line-height: 30px !important;
}
.search_bottom .el-date-editor i{
    width: 30px !important;
    line-height: 30px !important;
}
/* 设置 */
.set_box{
    padding: 25px 0px 30px 30px !important;
}
.set_box .title {
    height: 30px !important;
    padding-left: 25px !important;
    padding-right: 30px !important;
    font-size: 14px !important;
    line-height: 45px !important;
    margin-bottom: 15px !important;
}

.set_menu{
    width: 285px !important;
    height: calc(100vh - 130px);
}
.set_menu ul {
    padding: 20px !important;
}
.set_menu ul li{
    height: 16px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    margin-bottom: 30px !important;
}
.set_menu ul li i {
    margin-right: 15px !important;
}
.set_content{
    margin-left: 25px !important;
    padding-right: 30px !important;
}
.set_content_item{
    margin-bottom: 30px !important;
}
.set_content_item > label {
    height: 16px !important;
    font-size: 12px !important;
    line-height: 16px !important;
}
.set_content_item_box{
    height: 65px !important;
    margin-top: 15px !important;
    padding: 20px !important;
}
.set_content_item button {
    width: 130px !important;
    height: 32px !important;
    border-radius: 16px !important;
    font-size: 14px !important;
}
.set_content_item_box_auto{
    margin-top: 15px !important;
    padding: 20px !important;
}
.set_items_title {
    height: 16px !important;
    font-size: 12px !important;
    line-height: 16px !important;
}
.set_items {
    margin-bottom: 25px !important;
}
.set_items_input .el-input__inner {
    height: 28px;
    line-height: 28px;
    margin-top: 10px;
}
.set_content_item .el-checkbox {
    margin-bottom: 15px !important;
}
.set_button{
    margin-top: 0px !important;
}

.beetween_line{
    margin-bottom: 20px !important;
}
.set_content_item_box span{
    height: 16px !important;
    font-size: 14px !important;
    line-height: 16px !important;
}
.set_content_item_box span i {
    font-size: 18px !important;
}
.org_group {
  height: auto !important;
  display: inline-block !important;
  padding-bottom: 5px !important;
}
.org_group button {
  margin-top: -5px !important;
}

.fileszieDiyfromerror {
  top: 25px !important;
}
.fileszieDiytoerror {
top: 25px !important;
  left: 215px !important;
}
.search_params_item .select_input_value::before{
    left: 5px !important;
}

.updataTime .el-radio-group label,.flieSize .el-checkbox-group label{
    line-height: 30px !important;
}
.sh  .search_bottom .el-date-editor i{
    width: 45px !important;
    padding: 0 !important;
}
.div_inpuut{
    position: absolute;
    width: 430px;
    height: 14px;
    top: 10px;
    left: 1px;
  }
.org_group label{
    margin-bottom: 10px !important;
}
.org_group .el-radio__label{
    font-size: 12px !important;
}
.el-radio-group  .el-radio__label{
    font-size: 12px !important;
}
.el-pagination__total{
    font-size: 12px;
}

.con_box_search .el-tree-node__content, .acc .el-tree-node__content span{
    font-size: 12px;
}

.put_filter span{
    font-size: 12px ;
}
.perLabel_main_box .person_label{
    margin-left: 0 !important;
}

.sh_search_main tr th .cell{
    font-size: 14px;
}

.sh_search_main tr td .cell{
    font-size: 12px;
}







 .el-submenu__title .icon-sousuo{
   font-size: 16px !important;
 }
.el-submenu__title .icon-guanli{
   font-size: 16px!important;
 }
 .el-submenu__title .icon-bangzhu{
   font-size: 16px!important;
 }
 .el-submenu__title .icon-shenpi{
   font-size: 16px!important;
 }
 .el-submenu__title .icon-fuqian{
   font-size: 16px!important;
 }
  .el-submenu__title .icon-shezhi{
   font-size: 16px!important;
 }
   .el-submenu__title .icon-resume-s{
   font-size: 16px!important;
 }
 .apply-light .content-light{
     height: calc(100% - 1px) !important;   
 }

.dialog-drag{
    width:1200px !important;
    height: 600px !important;
  }
  .search-btn-box .iconfont{
      font-size: 18px!important;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}

@media (max-width: 1919px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}
 