
*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
      max-width: 100%;
  }
  body{
    min-width: 1300px;
  }
  #app{
    height: 100vh;  
    background: #EEF2F6;
  }

  .container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 40px 20px 40px ;
    overflow: hidden;
  }
  .result_box{
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  .result_DIY{
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -30px;
    background: #FAFCFF;
    padding: 0px 0px 20px 30px;
    box-shadow: 8px 2px 10px 0px rgba(24, 63, 170, 0.1);
    border-radius: 0px 15px 50px 0px;
    display: flex;
    flex-direction: column;
    min-width: 270px;
  }
  .result_filter{
    min-width: 310px;
    height: 100%;   
  }
  .result_filter_all{
    width: 310px;
    height: 100%;  
  }
  /* .result_filter_all{
    width: 530px;
    height: 100%;
  } */
  .font_center{
    text-align: center !important;
  }

  .flex_ceter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn_icon{
    width: auto ;
    height: auto;
    line-height: 1;
    background: none ;
    -webkit-box-shadow: none ;
    box-shadow: none ;
    text-align: right;
    margin-right: 0px ;
  }
  .btn_icon i{
  font-size: 20px;
  color: #ffffff;
  }
  .btn_round_icon{
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background: #2D7A9C;
    border-radius: 11px;
    line-height: 22px;
    text-align: center;
  }
  .btn_round_icon i{
    color: #ffffff;
  }
.icon_active{
  color: #2D7A9C;;
}
.icon_gif{
  transform:rotate(180deg);
}
/* 字体 */
  .fontS_size_12{
    font-size: 12px;
    font-family: "微软雅黑";
  }
  .fontS_size_14{
    font-size: 14px;
    font-family: "微软雅黑";
  }

  .fonS_16{
    font-size: 16px;
    font-family: "微软雅黑";
  }

  .fontC_333{
    color: #333333;
  }
  .fontC_999{
    color: #999999;
    
  }
  .div_inpuut{
    position: absolute;
    /* width: 430px; */
    width: 500px;
    height: 38px;
    top: 0px;
    left: 1px;
    background: #2D7A9C;
  }
  .show{
    display:block !important;
  }
  .key{
    color: #F73031;
    text-decoration: underline;
  }
  .icon-PPT{
    color: #F73031;
  }
  
 .el-submenu__title .icon-sousuo{
   font-size: 20px;
 }
.el-submenu__title .icon-guanli{
   font-size: 18px;
 }
 .el-submenu__title .icon-bangzhu{
   font-size: 18px;
 }
 .el-submenu__title .icon-shenpi{
   font-size: 18px;
 }
 .el-submenu__title .icon-fuqian{
   font-size: 20px;
 }
  .el-submenu__title .icon-shezhi{
   font-size: 20px;
 }
   .el-submenu__title .icon-resume-s{
   font-size: 20px;
 }
 .filter_number{
  display: inline-table;
  height: 12px;
  width: auto;
  min-width: 30px;
  text-align: center;
  line-height: 13px;
  background: #FFFFFF;
  border-radius: 14px;
  padding: 1px 5px;
  border: 1px solid #FF9200;
  color: #FF9200;
 }
button:focus {
  outline: none;
}